section.for-partners 
  .container
    .title 
      h2 For partners
    .for-partners-text
      .for-partners-text-part-one
        p Ensuring the highest level of customer satisfaction depends on exceptional product and solution implementation together with the skills and specialization that our partners deliver. <br><br>
          | We’ve streamlined the processes and structure of our integrated, new Partner Program to make it easier for you to do business with us. Authorized Partners can access world-class sales and technical enablement to take full advantage of the cross-sell potential in adjacent solutions within our extensive product suite. In recognition of the skills and specialization that you bring, our program returns healthy, predictable profitability and a range of competitive benefits.<br><br>
          | Together we have enormous opportunity ahead!
      .for-partners-text-part-two
        p Ensuring the highest level of customer satisfaction depends on exceptional product and solution implementation together with the skills and specialization that our partners deliver. <br><br>
          | We’ve streamlined the processes and structure of our integrated, new Partner Program to make it easier for you to do business with us. Authorized Partners can access world-class sales and technical enablement to take full advantage of the cross-sell potential in adjacent solutions within our extensive product suite. In recognition of the skills and specialization that you bring, our program returns healthy, predictable profitability and a range of competitive benefits.<br><br>
          | Together we have enormous opportunity ahead!

