section.our-partners
  .container 
    .title 
      h2 Our partners
    .our-partners-content
      .our-partners-content__item 
        img(src=require('../../../assets/images/ozon2.png').default, alt= 'ozon')
      .our-partners-content__item  
        img(src=require('../../../assets/images/consulting2.png').default, alt= 'consulting')