$primaryColor: #1d242d;
$btnColor: #038bf3;
$borderColor: #c6c6c6;
$whiteColor: white;

*,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  font-family: "SFUIText", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $primaryColor;
}

.container {
  width: 83%;
  margin: 0 auto;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.button {
  width: 13.75rem;
  height: 3rem;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1rem;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid $btnColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: $whiteColor;
  color: $btnColor;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    background-color: $btnColor;
    box-shadow: 0px 0px 15px rgba(78, 149, 255, 0.8);
    color: $whiteColor;
    transition: all 0.5s;
  }
  &-blue {
    background-color: $btnColor;
    color: $whiteColor;
    &:hover {
      box-shadow: 0px 0px 15px rgba(78, 149, 255, 0.8);
      transition: all 0.5s;
    }
  }
}

section {
  padding: 9.4rem 0;
}

.header__title {
  display: flex;
  justify-content: center;
  h1 {
    color: $whiteColor;
    font-size: 6.9rem;
    font-weight: 700;
    letter-spacing: -4px;
  }
  span {
    margin-top: -2.5rem;
    margin-left: 12rem;
    letter-spacing: -4px;
    background: linear-gradient(79.3deg, #038bf3, #01d0a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #038bf3;
    display: block;
    font-size: 6.9rem;
    font-weight: 700;
    position: relative;
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 3px;
      background-color: $whiteColor;
      transform: rotate(45deg);
      height: 4.6rem;
      margin-left: 0.5rem;
    }
  }
}
