extends ../layout/header-footer

block variables
  - var nameTitle = 'Home page'

block content 
  include ./main/beCreative
  include ./main/our-services
  include ./main/aboutUs
  include ./main/howWeWork
  include ./main/clientsChoose
  include ./main/ourLastProject
  include ./main/partners
  include ./main/becomePartner
  include ./main/start-project.pug