.our-services-wrapper {
  background-color: #f7f7f7;
}
.our-services-sort {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 70px;
  a {
    margin: 0 3.1rem;
    &:hover {
      color: #038bf3;
      transition: 0.3s;
    }
  }
}
.card-body-wrapper {
  display: flex;
  max-height: 35rem;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  &-image {
    flex-basis: 50%;
    overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
    }
  }
}
.card-body {
  flex-basis: 50%;
  padding-left: 4.4rem;
  padding-top: 4.4rem;
  padding-right: 5.6rem;
  &-services {
    padding-left: 4.4rem;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-top: 30px;
  }
  h3 {
    font-weight: 700;
    font-size: 1.25rem;
    color: #038bf3;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 30px 0;
  }
}
