.services-header {
  background-image: url("../assets/images/servicesHeader.png");
  height: calc(100vh - 86px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    width: 42rem;
    text-align: center;
    margin: 0 auto;
    h1 {
      line-height: 85%;
      letter-spacing: 0;
      background: linear-gradient(79.3deg, #038bf3, #01d0a5);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #038bf3;
      span {
        line-height: 85%;
        margin-top: 0;
        margin-left: 0;
        letter-spacing: 0;
        color: $whiteColor;
        background: transparent;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-text-fill-color: currentColor;
        &::before {
          display: none;
        }
      }
    }
  }
}
