block variables

doctype html 
html(lang = 'en')
    head 
        title= nameTitle
    body
        header 
            div.container
                div.logo
                    img(src='../assets/images')

        block content  