section.about-company
  .container
    .title 
      h2 about company
    .about-company__body 
      .about-company__body-text__part-one
        p The task of the organization, in particular the constant quantitative growth 
          | and the scope of our activity, require us to analyze the systems of mass 
          | participation. It should not be forgotten, however, that the new organizational
          | model is an interesting experiment in testing the positions of participants in relation to the assigned tasks.
          | The significance of these problems is so obvious that the new organizational model
          | allows one to assess the value of new proposals. Comrades! the implementation of the
          | planned targets entails the process of implementation and modernization of participatory 
          | systems. It is obvious that the new model of organizational activity makes it possible to assess the value of new proposals. Comrades! the implementation of the planned targets entails the process of implementation and modernization of systems of mass participation. It is clear that the new organizational model is able to assess the value of new proposals. Comrades! the implementation of the planned targets entails the process of implementation and modernization of systems of mass participation.
      .about-company__body-text__part-two
        .about-company__body-text__part-two__body 
          h3 20 finished projects
          span The task of the organization, especially the constant
        .about-company__body-text__part-two__body 
          h3 20 finished projects
          span The task of the organization, especially the constant
        .about-company__body-text__part-two__body 
          h3 20 finished projects
          span The task of the organization, especially the constant
        .about-company__body-text__part-two__body 
          h3 20 finished projects
          span The task of the organization, especially the constant
