section.about-us
  .container 
    .title 
      h2 About us
    .about-us__text
      p. 
        On the other hand, the framework and place of staff training require the definition and refinement of the development model.
        The significance of these problems is so obvious that the constant quantitative growth and scope of our activity allows.
  