section.become-partner 
  .container
    .title 
      h2 Become Partner
    .become-partner__content 
      p The 5 Stars Soft Partner system helps create unique winning partnerships that offer mutual business growth opportunities, joint value driven by collaboration, executive commitment and thought leadership around future technologies.
    a(href="services.html")
      .button view benefits 