include ../mixins/mixinH1
section.be-creative
  .container
    +titleH1('< Be','creative >')
    .be-creative__content 
      .be-creative__content-text. 
                                  Our company provides a wide range of services in the field of IT. 
                                  Good development team. Рrovides a wide range of services in the field of IT. 
                                  Good development team.
      .button Contact us