-var text1 = 'Ideological considerations of a higher order, as well as the constant information and propaganda support of our activities, require the definition and refinement of the personnel training system that meets the urgent needs.onstant information and propaganda support of our activit Ideological considerations of a higher order, as well as the strengthening and development of the structure...'
mixin slide(title, text, img)
  .swiper-slide 
    .swiper-slide__content
      h3=title
      p=text
      a.view-project(href='#') View
    .swiper-slide__img
      img(src=img)

section.our-project 
  .container 
    .title 
      h2 Our last Projects
    .button(class='button-blue') all projects
    .swiper-container 
      .swiper-wrapper 
        +slide('ASJI COMPANY',text1,require('../../assets/images/block 2.png').default)
        +slide('ASJI COMPANY',text1,require('../../assets/images/block 2.png').default)
    .slider-buttons
      .swiper-button-prev
      .swiper-pagination
      .swiper-button-next
    