section.partners
  .container
    .title 
      h2 partners
    .partners-content
      .partners-content__item 
        img(src=require('../../../assets/images/ozon.png').default, alt= 'ozon')
      .partners-content__item 
        img(src=require('../../../assets/images/consulting.png').default, alt= 'consulting')